.test {
  font-size: 1em;
  background-color: red;
  width: 100px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.ddl-right {
  margin-right: 20px; }

textarea {
  height: 100px; }
