<div class="mt-4">
    <form method="post">
        <div class="form-group mb-4">
            <label for="exampleInputEmail1">Txt search</label>
            <input type="text" name="age"/>
            <input type="email" name="txtSearch" class="form-control" id="exampleInputEmail1" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>