<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand btn disabled text-dark" href="">LKC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses/create">Add new song</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Liên hệ 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://www.facebook.com/TranDucThanh2k/">Facebook</a></li>
            <li><a class="dropdown-item" href="#">Instagram</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn disabled text-warning" href="#">0948621328</a></li>
          </ul>
        </li>
      </ul>
      <div class="dropdown ddl-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://scontent.fpnh22-2.fna.fbcdn.net/v/t1.6435-9/64386255_1324007011080906_6711350694554632192_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=f-YiddYCjNkAX8wdcDt&tn=76ladFXBLnNhuMeG&_nc_ht=scontent.fpnh22-2.fna&oh=f92079b0fa980289670a20fa6a695b9e&oe=60D6C593" alt="" class="user-avatar">
          Thành
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/courses/create">Thêm bài hát mới</a></li>
          <li><a class="dropdown-item" href="/courses/update/:videoId">Cập nhật bài hát</a></li>
          <li><a class="dropdown-item" href="/me/stored-courses">Danh sách bài hát</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>